.container{
    display: flex;
    flex-direction: column;
   
    text-align: center;

    span{
      display: flex;  
      align-items: center;   
      gap: 5px;
    }
  
}
.skillContainer{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 26ch;
    
    img{
        width: 20px;
        height: 20px;
    }
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 100px;               
    background-color:#f4f4ee;
    height: 1px;
  }